#game {
	
	width: 200px;
	float: left;
}

#startover {
	width: 100px;
	height: 25px;
	text-align: center;
	padding-top: 5px;
	float:  right;
}

.hoverOut {
	color: red;
	background-color: yellow;
}

.hoverIn {
	background-color: red;
	color: yellow;
}

/* standout style example */
.standout {
  color:red;
  text-align:left;
  font-size:20pt;
}

/* red text example */
.red-text {
    color: red;
}

/* font example - second entry is the fallback if the first is unavailable (added to the h2 element) */
h2 {
    font-family: Lobster, Monospace;
}

/* text size and font example (added to paragraphs) */
p {
    font-size: 16px;
    font-family: Monospace;
}

/* A property called width that controls an element's width. Just like with fonts, we'll use px (pixels) to specify the image's width. */
.smaller-image {
    width: 100px;
}

/* format example - border-radius can be in pixels (px) as well */
.thick-green-border {
    border-color: green;
    border-width: 10px;
    border-style: solid;
    border-radius: 50%;
}
