.navbar-text {
  font-family: Impact, Haettenschweiler, Franklin Gothic Bold, Charcoal, Helvetica Inserat, Bitstream Vera Sans Bold, Arial Black, sans serif;
  font-size: 26px;
  font-style: normal;
  font-variant: normal;
  font-weight: 500;
  line-height: 20px;
  text-align: center;
}

.abouts-text {
  font-family: Futura, Trebuchet MS, Arial, sans-serif;
  font-size: 26px;
  font-style: normal;
  font-variant: normal;
  font-weight: 500;
  line-height: 30px;
  text-align: center;
}

.projects-text {
  font-family: Futura, Trebuchet MS, Arial, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-variant: normal;
  font-weight: 500;
  line-height: 18px;
  text-align: center;
}

.project-image-box {
  width: 150px;
  height: 150px;
  background-color: #70db70;
  border: 5px black;
}

